#edit-button {
    color: gray;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
}

#delete-button {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
}